<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="https://camo.githubusercontent.com/91cd63f4e977d9a7db9cbbc45f48da4e0d14c503da241a227a00128b90931d26/68747470733a2f2f7075626c6963612e636961722e7566672e62722f65626f6f6b732f65626f6f6b2d6369656e7469737461732d62726173696c65697261732f696d6167656e732f63617030322e706e67"
                    alt="Logo Squad Carmen Portinho" width="500" class="border border-info rounded">
            </div>

            <div class="col-md-4 d-flex justify-content-center align-items-center border-end border-info pe-4">
                <ul class="list-unstyled text-start">
                    <span class="fs-5 fw-bold">Desenvolvido por:</span>
                    <li>
                        <a href="https://github.com/ana-kharo"
                            class="text-white text-decoration-none d-flex align-items-center mb-1">
                            <img src="{{ url_for('static', filename='img/github.png') }}" alt="GitHub" width="20"
                                class="me-2">
                            Ana Caroline Freiria Pires
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Andiichi"
                            class="text-white text-decoration-none d-flex align-items-center mb-1">
                            <img src="{{ url_for('static', filename='img/github.png') }}" alt="GitHub" width="20"
                                class="me-2">
                            Andrezza Nogueira da Silva
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/arielleoliveira"
                            class="text-white text-decoration-none d-flex align-items-center mb-1">
                            <img src="{{ url_for('static', filename='img/github.png') }}" alt="GitHub" width="20"
                                class="me-2">
                            Arielle Ribeiro de Oliveira Tavares
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/elizabetefabri"
                            class="text-white text-decoration-none d-flex align-items-center mb-1">
                            <img src="{{ url_for('static', filename='img/github.png') }}" alt="GitHub" width="20"
                                class="me-2">
                            Elizabete de Souza Fabri
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/ingxrd"
                            class="text-white text-decoration-none d-flex align-items-center mb-1">
                            <img src="{{ url_for('static', filename='img/github.png') }}" alt="GitHub" width="20"
                                class="me-2">
                            Ingrid Stefhani Silva Munhoz
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/liviatech"
                            class="text-white text-decoration-none d-flex align-items-center mb-1">
                            <img src="{{ url_for('static', filename='img/github.png') }}" alt="GitHub" width="20"
                                class="me-2">
                            Livia Matias da Silva
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Xistulino"
                            class="text-white text-decoration-none d-flex align-items-center mb-1">
                            <img src="{{ url_for('static', filename='img/github.png') }}" alt="GitHub" width="20"
                                class="me-2">
                            Rosicleide Aparecida Fonseca Xistulino
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/ThaisDavilla"
                            class="text-white text-decoration-none d-flex align-items-center ">
                            <img src="{{ url_for('static', filename='img/github.png') }}" alt="GitHub" width="20"
                                class="me-2">
                            Thais D'avilla de Souza Mesquita Pereira
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 text-center d-flex flex-column align-items-center">
                <span class="fs-5 fw-bold">Squad Carmen Portinho</span>
                <span class="fs-6">Bootcamp Back-End Python & Django - WoMakersCode 🦋</span>
            </div>

        </div>
    </div>
</footer>